---
---

@import "{{ _config.yml }}";

body {
    background-color: #fff;
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: ##e8f5e9;
    font-weight: 400;
}
